@charset "utf-8";
/* CSS Document */

body {font-size:0.8em;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"; margin-left:20px; margin-bottom:20px;}
	header {width:100%; 
			float:left;
			position:fixed;}
	h1 {font-size:4em;
		font-weight:lighter;
		color:#C48189;}
	h2 {font-size:1.7em;
		font-weight:lighter;
		color:#E8ADAA;}
	h3 {font-size:1.5em;
		font-weight:normal;
		margin-top:auto;
		color:#C48189;}
	dt {font-size:1.25em;
		font-weight:normal;
		color:#E8ADAA;
		margin-left:18px;
		margin-top:8px;
		padding-top:8px;}
	dd {font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		font-size:1em;
		font-weight:normal;
		margin-left:40px;
		margin-top:1px;
		padding-top:1px;}
	h6 {font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		font-size:12px;
		font-weight:normal;
		margin-left:44px;
		margin-top:1px;
		padding-top:1px;}
	a:link {color:#000000;
			text-decoration:none;}
	a:hover {color:#DE7188;
			text-decoration:underline;}
	a:visited {color:#999;
				text-decoration:none}
