@charset "utf-8";
/* CSS Document */
title, body { background-color:blanchedalmond; font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'; margin:30px; }
u {text-decoration: underline;}